@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

h1 {
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 25px;
    color: #ffbc4e;
    margin-top: 25px;
    margin-bottom: 0px;
}

/*
Target elements which have "cell" and have them
stand out before being changed via hover.
*/
[class*="cell"] {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #f5f5f5;
    border-width: 1px;
    flex: 1;
}

[class*="row"] {
    display: flex;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: #f73a3a;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 600px; 
    height: 600px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

button {
    width: 175px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    background: white;
    border-style: hidden;
    color: #c68c2c;
    border-radius: 25px;
    font-size: 25px;
}

