/*
Target elements which have "cell" and have them
stand out before being changed via hover.
*/
[class*="cell"] {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    flex: 1;
}

[class*="row"] {
    display: flex;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 600px; 
    height: 600px;
}


